nav {
  background-color: hotpink;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: medium;
}

nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #745e96;
}

nav li:hover {
  background-color: rgb(235, 99, 167);
  border-radius: 10px;
}

nav h1 {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #745e96b1;
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar a {
  color: red;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu_button {
  display: none;
}

@media (max-width: 800px) {
  .hideOnSmallScreens {
    display: none;
  }
  .menu_button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
