* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "roboto", "sans-serif";
  background-color: #e2c20e;
  font-family: "'Pixelify Sans', sans-serif";
}
